.box {
	min-height: 200px;
}

.pass-change, .user-delete {
	display: none;
}

/* タブ（プロフィール編集&パスワード更新） */
.box-tab {
	color: rgba(255, 255, 255, 1);
	transition: .3s;
}
.box-tab:hover {
	color: rgba(0, 0, 0, 1);
	background-color: rgba(144, 144, 144, 0.5);
	box-shadow: 0 0 0 0.25rem rgb(144 144 144 / 25%);
}
.box-tab:focus {
	color: rgba(0, 0, 0, 1);
	box-shadow: none;
}
/* タブ（プロフィール編集&パスワード更新） */

/* タブ（アカウント削除） */
.user-delete-tab {
	color: rgba(128, 0, 0, 1);
}
.user-delete-tab:hover {
	color: rgba(255, 0, 0, 1);
	background-color: rgba(148, 87, 87, 0.5);
	box-shadow: 0 0 0 0.25rem rgb(144 144 144 / 25%);
}
.nav-tabs .user-delete-tab.active {
	background-color: rgba(255, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	box-shadow: none;
}
/* タブ（アカウント削除） */