/* 認証_共通設定 */
/* login */
@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);

.btn, label {
	font-weight: bold;
}

/* + アイコン位置 */
.form-icon {
	display: flex;
	align-items: center;
	color: #888;
}
/* + アイコン位置 */

/* バリデーション エラーメッセージ */
.error-area {
	margin-top: 0.25rem;
	margin-bottom: 2.5rem;
	background-color: rgba(253, 127, 127, 0.2);
	border-radius: 10px;
}
.error-message {
	margin: 0px;
	display: block;
	text-align: center;
	font-weight: bold;
}
