/* login */

/* 鍵ロゴ */
.login-text {
	margin: 0 auto;
	padding: .5rem;
	max-width: 50%;
	font-size: 1.5rem;
	text-align: center;
	text-shadow: 12px 10px 0 rgba(0,0,0,0.3);
	color: rgba(136, 136, 136, 1);
}

/* ログイン保持ボタン_レイアウト */
.form-check {
	margin-left: 20px;
}

/* Forget Password */
form .btn-link {
	margin: 1.375rem 0.75rem;
	padding: 0;
}
form .btn-text {
	display: inline-block;
	text-decoration: underline;
	color: rgba(0, 0, 0, 1);
	transition: .25s;
}
form .btn-text:hover {
	color: rgba(130, 130, 130, 1);
	transform: rotateX(360deg);
}